*{
    margin: 0;
    padding: 0;
  }
  .main-div{
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
    /* height: 100vh; */
}
#first-box,#second-box{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    margin-left: 10px;
    font-size: 50px;
    text-align: center;
    text-justify:auto;
}
/* #playbtn{
  width: 100px;
  height: 100px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
} */
.button-div{
  /* background-color: red; */
  /* width: 500px; */
  /* height: 500px; */
  /* border: 5px solid black; */
  display: flex;
  justify-content: center;
  /* background-color: blue; */
  margin-top: 20px;
}
/* .displaydiv{
    transform: translate(-250px,-160px);
    background-color: beige;
    height: 150px;
} */
.button-div-sub{
  width: 300px;
  background-color: yellow;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.first-box-image{
  width: 100px;
  height: 100px;
  opacity: 0.5;
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.btn{
  width: 80px;
  height: 50px;
  padding: 15px 10px;
  margin: 10px 5px;
  font-size: 20px;
  border-radius: 10px;
}
#datatable{
  border-collapse: collapse;
  text-align: center;
  background-color: red;
  margin-top: 20px;
  font-size: 20px;
}
.tablediv{
  /* background-color: yellow; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
th,td{
  border-collapse: collapse;
  border: 2px solid black;
  width: 350px;
}
.lifecount{
  width: 100px;
  height: 100px;
  border: 2px solid black;
  margin-left: 10px;
}
#lifevalue{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 25px;
}

#resultdiv{
  font-size: 50px;
}
.fulldiv{
  /* background-color: aqua; */
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
} 
.second,.second1,.second2{
  width: 150px;
  height: 100px;
  margin-left: 10px;
  font-size: 15px;
  border-radius: 10px;
  display: none;
}
#reducedtarget{
  display: none;
  margin-bottom: 15px;
  font-size: 15px;
}
.displaydiv{
  padding: 20px;
}
#targetdiv{
  margin-bottom: 10px;
  font-size: 15px;
}
#ballsvalue{
  margin-bottom: 10px;
  font-size: 15px;
  width: 250px;
  /* background-color: rgb(186, 186, 43); */
}
#wicketsvalue{
  font-size: 15px;
  width: 250px;
  margin-bottom: 5px;
  /* background-color: rgb(186, 186, 43); */
}
.complete-div{
  display: none;
}
.toss-section{
  width: 100%;
  background-color: aquamarine;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* z-index: 0; */
}
.headbtn{
  width: 100px;
  height: 100px;
  margin-right: 10px;
  font-size: 15px;
  background-color: red;
  border-style:none ;
}
.tailbtn{
  width: 100px;
  height: 100px;
  margin-right: 10px;
  font-size: 15px;
  background-color: greenyellow;
  border-style:none ;

}
.headortail-div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.resetbuttonforHorT,.batorbowl{
  width: 100px;
  height: 50px;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 10px;
  border-style: none;
  margin-top: 5px;
}
#headortail{
  /* background-color: rebeccapurple; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  width: 100%;
}
.batorbowlhead{
  font-size: 25px;
}

.batorbowlareabtn{
  width: 100px;
  height: 50px;
  background-color: red;
  margin-top: 10px;
}
.overlay{
  background: rgba(20, 20, 20, 0.699);
  height: 100vh;
  opacity: 1.5;
  z-index: 2;
  position: absolute;
  width: 100%;
  display: none;
}
.overlay1{
  background: rgba(20, 20, 20, 0.699);
  height: 100vh;
  opacity: 1.5;
  z-index: 2;
  position: absolute;
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* display: none; */
}
.overlay1content{
  /* width: 50%; */
  height: 100%;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.overlay1-input{
  width: 250px;
  height: 30px;
  margin-top: 20px;
  font-size: 20px;
}
.overlay1-input::placeholder{
  text-align: center;
}
.overlay1-input:focus{
  background-color: rgb(103, 216, 137);
}
#overlay1btn{
  width: 100px;
  height: 50px;
  margin-top: 20px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  font-size: 20px;
  /* display:none; */
}
#clearoverlaybtn{
  width: 100px;
  height: 50px;
  font-size: 20px;
  margin-top: 20PX;
  animation: fadeIn 0.5s ease-in-out;
  background-color: rebeccapurple;
}
.overlaycontent{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.5s ease-in-out;
}
#overlayheading {
  width: 550px;
  height: 250px;
  font-weight: bolder;
  background-color: rgb(210, 28, 28);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
#message{
  animation: bounceIn 1s ease-in-out;
  font-size: 30px;
}
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@keyframes bounceIn {
  0% {
      transform: scale(0.5);
      opacity: 0;
  }
  50% {
      transform: scale(1.5);
      opacity: 1;
  }
  100% {
      transform: scale(1);
  }
}
/* .overlayheadingimage{
  position: absolute;
  opacity: 0.7;
  width: 200px;
  height: 200px;
  left: 500px;
  top: 350px;
} */

@media screen and (max-width:1000px){
    .main-div{
        display: flex;
        justify-content: center;
    }
    .button-div{
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }
      .tablediv{
        width: 100%;
      }
      .displaydiv{
        font-size: 15px;
        margin-top: 30px;
        margin-left: 150px;
      }
      #datatable>thead>tr>th{
        padding: 10px;
        font-size: 20px;
      }
}
@media screen and (max-width:750px){
    .tablediv{
        width: 100%;
        margin: 10px 15px;
      }
      .displaydiv{
        font-size: 13px;
        margin-top: 30px;
        margin-left: 20px;
      }
      #datatable{
        font-size: 15px;
      }
      #datatable>thead>tr>th{
        padding: 10px;
        font-size: 15px;
      }
}
@media screen and (max-width:560px){
  #datatable{
    font-size: 20px;
  }
  #datatable>thead>tr>th{
    padding: 10px;
    font-size: 15px;
  }
  #overlayheading {
    width: 350px;
    height: 250px;
  }
  #message{
    font-size: 25px;
  }

}


